*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

#top-bar{
	background: rgba(54, 54, 54, 0.9);
	color:white;
}

#logo{
	padding-left:10px;
	color:white;
}

.nav-link{
color:white;
}

#image{
	   background-image: url("https://d36g7qg6pk2cm7.cloudfront.net/assets/slider_2_o-a6898e8c62c2e2566cfde6ca773ea0f3e23fd4ee6c03a30f5530160ed29e93e8.jpg");

  height: 500px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Needed to position the navbar */
  position: relative;

}



#cards{
	height: 180px;
	background:#f3f3f3;
	text-align: center;


}

.squares{
	height:100px;

    
}

#cards1{
	height:500px;
	background: steelblue;
		
}

.squares2{
	border:1px solid black;

	margin-top:5px;
    
	height:150px;
	width:25%;
}


img {
	width: 20%;
	float: left;
	margin: 1.66%;
}

.navbar{
	background: rgba(0,0,0,0.3);
}

.ratings{
	height:90px;
}

.information{
	height:120px;
	margin-bottom:10px;
}

p {
	font-family: Raleway;
	margin-left: 1%;
	font-size: 23px;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 2px solid #f1f1f1;
	width: 30%;
	padding-bottom: 20px;
}

#image-card{
	border:1px solid black;
	height:900px;
	margin:0 auto;
}

.images{
	background:no-repeat center;
}

.card1{
	text-align: center;
	font-size: 18px;
}

.card2{
	
border:none;
}

.x{
padding-left:10px;
}

.s{
border:none;

	}

.card-img-top{
	width:150px;
	height:150px;
}

 










