body{
	background-color: #BDF5F7;
  margin:0px;
}

#title{
	text-align: center;
	font-size: 30px;
	
}

#border{
	background-color:  #2996CC; 

	
	padding-bottom: 10px;
	padding-top: 10px;
}

#description{
	text-align: center;
  margin-bottom:20px;
  font-size: 20px;
}

h1{
	background-color: #3E8E80
;
	padding-top: 20px;
	padding-bottom: 20px;
}

#survey-form{
	display:block;
	margin-left:300px;
  
}

#name-label{
  padding-left:210px;
  font-size:20px;
  padding-top:10px;
}

#name{
	display:block;
	margin-left:300px;
  margin-top:-28px;
  padding-top:10px;
  font-size:15px
}

#email-label{
  padding-left:200px;
  font-size:20px;
  margin-top: 30px;
  
}


#email{
	display:block;
	margin-left:300px;
padding-top:10px;
  margin-top:-25px;
  font-size:15px
}

#number-label{
	padding-left: 220px;
	font-size:20px;
	padding-top:40px;
}

#number{
	display:block;
	margin-left:300px;
  margin-top:-28px;
  padding-top:10px;
  font-size:15px
}

#dropdown{
	display:block;
	margin-left:300px;
  margin-top:-28px;
  padding-top:10px;
  font-size:15px
  font-size:15px
}

#select{
	padding-left: 65px;
	font-size:20px;
	padding-top:40px;

}

.radio{
	display:block;
	margin-left:400px;
 
 
  font-size:15px
}

.ra{
	display:block;
	margin-left:0px;
 
 
  font-size:15px
}

#one{
	display:block;
	padding-left:16px;
  padding-top:30px;
  font-size: 20px;

}
#s{
	margin-top: -30px;
	margin-left:-145px;
}

#check{
	display:block;
padding-left: 29`px;
	font-size:20px;
	padding-top:10px;
}

#checkbox{
	display:block;
	margin-left:258px;
  margin-top:-36px;
}

#text{
	
	margin-left:-56px;
  margin-top:20px;
font-size: 20px;
}

textarea{
	display:block;
	margin-left: 300px;
	margin-top: -15px;

}

button{
	display:block;
	margin-left:300px;
  margin-top:10px;
}

@media screen and (max-width: 900px) {
  
    #name-label,#email-label,#number-label{
    	padding-left:320px;
  font-size:20px;
    }

    #name,#email,#number{
    margin-left:400px;
    
    }

    #select{
    	padding-left: 163px;
    }

    #dropdown{
    	margin-left: 400px;
    }

    #one{
    padding-left: 115px;	
    }
    
    #s{
    	margin-left:-50px;
    }

    #check{
    	margin-left: 127px;
    }

    #checkbox{
    	margin-left: 350px;
    }

    #text{
    	margin-left:16px;
    }

    #textarea{
    	margin-top:0px;
    	margin-left: 92px;
    }

    button{
    	margin-left: 392px;
    }

#survey-form{
	margin-left: 0px;
}
}
  

@media screen and (max-width: 600px) {
  #name-label,#email-label,#number-label,#select,#one{
    	padding-left:0px;
  font-size:20px;
    }

    #name,#email,#number{
    margin-left:70px;
    
    }
    #dropdown{
    	 margin-left:220px;
    }

    #s{
    	margin-left:-190px;
    }

    #checkbox{
    	margin-left: 220px;
    }

    #check{
    	margin-left: 0px;
    }

    #text{
    	margin-left: 0px;
    }

    #textarea{
    	margin-top:19px;
    	margin-left: -300px;
    }

    button{
    	margin-left: 0px;
    }
    #border{
    	padding-left: 1px;
    }


#survey-form{
	margin-left: 0px;
}
}

